@charset "utf-8";
/* CSS Document */

/*reset css*/
* { margin: 0; padding: 0 }
body { font-size: 11px; line-height: 150%; font-family:Arial, Helvetica, sans-serif; color: #000000; padding: 0; margin: 0; font-weight: normal; background: #f9d106; }
/*custom container class*/
h1 { font-weight: normal; }
h2 { font-weight: normal; }
h1, h2 { line-height: 100%; margin: 0; padding: 0;}
h3 { font-size: 11px; }
a:link, a:visited { color: #020f46; text-decoration: none; }
a:active, a:hover { color: #333333; }
p { font-size: 15px; line-height: 130%; margin: 0; }

/*common css*/
.container{ width:940px; margin:0 auto;}
.float-left { float: left; }
.float-right { float: right }
.clear{ clear:both}
.mrg-0 { margin: 0 !important}
.pad-0{ padding:0 !important}
.yllow-text{color:#f9d106; }
.text-center{ text-align:center}
.text-right{ text-align:right}

/*error class*/
.error{border: 1px solid #FF0000!important; background:#F3C0C0 !important;}
.error-msg{color: #FF0000!important}

/*form control css*/
input{ border:none; width:100%; color:#808080}
input[type="text"], input[type="password"]{ background:#fff; height:25px; padding:2px; border:1px solid #cccecf; color:#808080}
textarea{ background:#fff; border:1px solid #cccecf; color:#808080}

/*header css*/
header{ margin:10px 0; }
.auntie-anne-logo a{ display:block; background:url(../images/logo.png) top left no-repeat; height:40px; width:216px;}
.call-to-action{ background:url(../images/social-media.png) top left no-repeat; width:116px; height:27px;margin-top: 8px; margin-right: 20px;}
.call-to-action a{ display:inline-block; height:27px; width:26px;}

/*banner css*/
.banner{ background:url(../images/banner-bg.jpg) top left no-repeat; height:517px; width:921px; border:9px solid #fff; position:relative;}
.mini-mighty-logo{ position:absolute; top:20px; left:35px; }
.mini-mighty-logo a{ background:url(../images/mini-mighty-logo.png) top left no-repeat; display:block; height:263px; width:250px;}
.banner-description{ margin-right:23px; width:560px;}
.banner-description main{ text-align:center;}
.banner-description main h2{font-family: 'KlinicSlab-Bold'; color:#f9d106; font-size:38px; text-align:center}
.banner-description main h1{font-family: 'TradeGothicLTStd-BdCn20'; font-size:80px; color:#ffffff;text-align:center}
.content-ribbon a{ background:url(../images/content-ribbon.png) top left no-repeat; height:34px; width:172px; display:block; margin:0 auto}
.banner-text{ margin:20px 0;color: #FFFFFF;}
.text-stike{ text-decoration:line-through}
.nominee-left { padding:0 10px 0 0; border-right:1px solid #fff; width:387px; margin-right:10px;}
.nominee-left p{ letter-spacing: -0.07em;}
.yellow-text{ color:#f9d106; font-size:18px;}
.nominee-right span{ font-style:italic; font-size:13px;}
.nominee-right p{ font-weight:bold}
.promo-content{ margin-right:19px;}
.promo-content img{ box-shadow:3px 4px 4px #000000}
.scheme-container{font-family: 'TradeGothicLTStd-BdCn20'; font-weight:bold; font-size:29px; color:#f9d106;letter-spacing: -0.035em  ;padding: 10px; margin-top: 30px; }
.scheme-container span.smalltext{  display: inline-block;  font-family: Arial;  font-size: 11px;  font-style: italic; width: 106px; vertical-align:top}
.scheme-container span.smalltext2{ width:123px;}
.scheme-container span.whitetext{ color:#fff}
.scheme-desc{ text-align:center; width: 463px; letter-spacing: 0.3px; margin:10px auto 0; font-size:16px; font-family: 'TradeGothicLTStd-BdCn20'; font-weight:bold;color: #FFFFFF; }

/*form css*/
.form-content{ font-family:Arial; font-size:16px; color:#020f46; width:775px; margin:20px auto 0}
.form-right{ width:369px}
.form-group{ margin:7px 0}
.form-control-label{ width:150px; margin-right:10px; font-weight:bold;  margin-top: 7px;}
.form-control-input{ width:200px;}
.month-input{ width:85px; margin-right:1px;}
.date-input{ margin-right: 13px;width: 42px;}
.State-input{ margin-right: 13px;width: 42px;}
.year-input .jqTransformSelectWrapper{z-index:15 !important;}
.date-input  .jqTransformSelectWrapper ul{ z-index:11 !important; width: 50px !important;}
.year-input{ width:48px;}
.date-input .jqTransformSelectWrapper{z-index:11 !important;}
.month-input .jqTransformSelectWrapper{ width:77% !important}
.date-input .jqTransformSelectWrapper,.year-input .jqTransformSelectWrapper,.State-input .jqTransformSelectWrapper{ width:80% !important}
.nominee-city{  margin-right: 8px;    width: 244px;}
.nominee-city .form-control-input{ width: 84px;}
.nominee-state{   width: 110px;}
.nominee-state label{ width:43px}
.nominee-twitter label{width:218px}
.nominee-twitter .form-control-input{width:132px}
.upload-btn label{ width:260px; margin-right:10px; font-weight:bold;  margin-top: 7px;}
.upload-btn .form-control-input{width:99px; }
.upload-button{ background:url(../images/upload-btn.png) top left no-repeat; width:99px; height:31px; cursor:pointer; text-indent:-9999px; padding-left: 10px;}
.tell-us{    height: 155px;padding: 5px;resize: none;width: 97%;}
.statement-nominee label{width:100%;font-weight:bold;  }
.statement-nominee  .form-control-input{width:100%; margin-top:6px;}
.statement-nominee .jqTransformSelectWrapper{ width:94% !important}
.required-note{ margin-top:5px; font-size:14px; font-style:italic; color:#808080;}
.submit-btn{ margin-top:25px;}
.submit{background: #7baed5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
width: auto;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYWVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzZmYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7baed5 0%, #236faf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7baed5), color-stop(100%,#236faf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7baed5 0%,#236faf 100%); /* W3C */
border:1px solid #2a74b2; border-radius:25px; padding:10px ;font-family: 'KlinicSlab-Bold'; font-size:25px; text-shadow:1px 1px 1px #000 ; color:#fff !important; min-width:233px; text-align:center; margin-right:10px; cursor:pointer;
}
.newentry{ text-decoration:underline !important; font-style:italic;}

/*gallery-banner css*/
.gallery-banner{ position:relative; background:url(../images/gallery-banner-img.jpg) top left no-repeat; width:930px; height:263px;margin-bottom: 20px;}
.gallery-banner-text{left: 30px;position: absolute;bottom: 59px;}
.gallery-banner h2{font-family: 'TradeGothicLTStd-BdCn20'; letter-spacing:-0.02em ;font-size: 42px;font-weight: bold; color:#fff;}
.gallery-banner h3{font-family: 'KlinicSlab-Bold'; font-size:20px;color:#fff; }
.social-media-share-btn{ margin:20px 0; text-align:center}
.twitter-share,.fb-share{ display:inline-block;}
.fb-share a{ background:url(../images/facebook-share-btn.png) top left no-repeat; width:244px; height:59px;display:block; margin-right:10px;}
.twitter-share a{background:url(../images/twitter-share-btn.png) top left no-repeat; width:244px; height:59px; display:block}

/*entries gallery section*/
.entries-header{ background:#020f46; border-radius:4px 4px 0 0; color:#fff; padding:10px 0 14px 0; text-align:center; font-family: 'KlinicSlab-Bold'; font-size:38px; border-bottom:5px solid #fff}
.gallery-content{height:480px; background:url(../images/gallery-content-bg.jpg) top left repeat;padding:30px 0 30px 30px; }
.box-content{ margin:20px;}
.box-content h4{ margin-top:3px; font-weight:bold; font-size:14px;color:#fff; }
.img-content{ border:5px solid #fff; line-height: 0; }
.gallery-content .mCustomScrollBox>.mCSB_scrollTools { width: 20px; height: 99%; top: 0; right: 5px; border:1px solid #fff; border-radius:4px; }
.gallery-content  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 16px; height: 100%; margin: 0 auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align: center; }
.gallery-content .mCSB_scrollTools .mCSB_draggerRail { width: 20px; height: 100%; margin: 0 auto; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.gallery-content .mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px; padding: 2px 0; }
.mCSB_scrollTools .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 15px; height: 100%; margin: 0 auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; text-align: center; }
.gallery-content .mCustomScrollBox>.mCSB_scrollTools { opacity:1;background: #0056a0;  }
.gallery-content .mCSB_scrollTools .mCSB_draggerRail { background: #fafafa; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(left, #fafafa 0%, #e9e9e9 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #fafafa 0%, #e9e9e9 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #fafafa 0%, #e9e9e9 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #fafafa 0%, #e9e9e9 100%); /* IE10+ */ background: linear-gradient(to right, #fafafa 0%, #e9e9e9 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9', GradientType=1 ); /* IE6-8 */
border-radius:0px;
}
.gallery-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #0056a0; border-radius:4px; }
.gallery-content .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar { background: #1a6bb1; }
.gallery-content .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background: #0056a0 !important }
.gallery-content .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight { background-image: url(mCSB_buttons.png); background-repeat: no-repeat;  /* old ie */ }
.gallery-content .mCSB_scrollTools .mCSB_buttonUp { background: url("../images/scroll-arrow-down.jpg") no-repeat 5px center #0056A0; border-radius: 4px 4px 0 0; }
.gallery-content .mCSB_scrollTools .mCSB_buttonDown { background: url("../images/scroll-arrow-up.jpg") no-repeat 5px center #0056A0; border-radius: 0 0 4px 4px; }

/*nominee-pop-content css*/
.nominee-pop-content{ height: 430px; background:#ffffff; padding:20px;}
.nominee-content-left{ width:225px; margin:0 15px}
.nominee-content-right{ width: 55%;padding-top: 5px;}
.pop-up-arrows{ margin-top:20px;  text-align: center;}
.arrow-left{ background:url(../images/popup-arrows.png) top left no-repeat; height:49px; width:49px; display:inline-block; margin-right:20px;}
.arrow-right{ background:url(../images/popup-arrows.png) -54px top no-repeat; height:49px; width:49px; display:inline-block}
.nominee-content-right h3{ color:#020f46; font-size:28px; font-weight:bold;}
.nominee-content-right h4{ color:#0056a0; font-size:20px;font-weight:bold; line-height: 32px; margin-top:3px;}
.nominated-title{ border-top:2px solid #b2b2b2; margin-top:5px; padding-top:5px; display:block; color:#b2b2b2;font-style:italic; }
.nominatee-decription p{ margin-bottom:10px; line-height:22px; font-size:14px;}
.nominee-pop-content .mCSB_scrollTools .mCSB_draggerRail{ width: 15px;border-radius: 4px; background:#e5e5e5;}
.nominee-pop-content .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background:#6a6a6a !important;width: 7px;}
.nominee-pop-content .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {background:#808080;  }
.nominee-pop-content .mCSB_buttonUp,.nominee-pop-content  .mCSB_buttonDown{ display:none !important}
.nominee-pop-content .mCSB_scrollTools a + .mCSB_draggerContainer{ margin:0}
.nominee-pop-content  .mCustomScrollBox > .mCSB_scrollTools{right: 2px;}


/*Login page*/
.login-main{ background:url(../images/gallery-content-bg.jpg) top left repeat;padding:30px 0 30px 30px;border:8px solid #fff;margin:150px auto;}
.login-main .logo{float:left;width:345px;border-right:1px solid #2371b4;}
.login-main .logo a{background:url(../images/mini-mighty-logo.png) top left no-repeat; display:block; height:263px; width:250px;margin: 0 auto;}
.login-main h2{color: #F9D106; font-family: 'KlinicSlab-Bold';  font-size: 38px;  text-align: center}
.login-form{margin:0 auto;width:410px;}
.login-main .form-group{margin-bottom:20px;}
.login-main .form-control-label{font-size:13px;width:100px; color:#fff;}
.login-main .form-control-input{width:290px;}
.login-box{float:right;width:547px;border-left:1px solid #054073;min-height:264px;}
.login-btn{margin-top:40px;}
.login{width:auto; background: #7baed5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYWVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzZmYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7baed5 0%, #236faf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7baed5), color-stop(100%,#236faf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7baed5 0%,#236faf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7baed5', endColorstr='#236faf',GradientType=0 ); /* IE6-8 */
border:1px solid #2a74b2; border-radius:25px; padding:10px 30px;font-family: 'KlinicSlab-Bold'; font-size:20px; text-shadow:1px 1px 1px #000 ; color:#fff !important;text-align:center; margin-right:10px;}

/*Vote popup*/
.vote-popup{width:370px;background:#020f46;padding:40px 15px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;position:relative;}
.vote-popup h3{color:#fff;font-size:18px;font-weight:bold;padding:0 0 10px 0;text-align:center;}
.vote-select .jqTransformSelectWrapper{width:94% !important;}
.vote-popup .submit-btn{margin:45px 0 0 0;}
.vote-popup .submit{font-size:34px;text-transform:uppercase;padding:0 35px;margin-right:0;height:55px;}
.close{position:absolute;top:6px;right:6px;}
.close a{display:block;background:url(../images/close-icon.png) no-repeat;width:19px;height:18px;}

/*Voteshare popup*/
.voteshare-popup{width:370px;background:#020f46;padding:40px 15px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;position:relative;}
.voteshare-popup h3{color:#f9d106;font-size:40px;font-family: 'TradeGothicLTStd-BdCn20';letter-spacing:-0.055em;margin-bottom:17px;text-align:center;}
.social-btn .fb-share{background:url(../images/fb-share-s.png) no-repeat left top;width:159px;height:39px;margin:0 18px 0 0;display:inline-block;}
.social-btn .twitter-share{background:url(../images/twitter-share-s.png) no-repeat left top;width:159px;height:39px;margin:0 18px 0 0;display:inline-block;}
.social-btn{text-align:center;}

/*finalist css*/
.finalist-banner{ margin:10px 0 0 0;display: inline-block; text-align:left;width: 100%;}
.finalist-left { margin-right:20px;}
.finalist-left  a{ background: url("../images/finalist-mighty-logo.png") no-repeat left top;display: block;height: 204px;width: 193px;}
.finalist-right{ width: 76.4%; margin-top:37px;}
.finalist-right h2{font-family: 'KlinicSlab-Bold';  font-size: 40px;color:#0056a0;}
.finalist-right  h1{ font-family: 'TradeGothicLTStd-BdCn20';font-size: 84px; letter-spacing: -0.03em;}
.finalist-right  h3{font-family: 'klinic_slabbook';    font-size: 26px;  color:#020f46; font-weight:normal}
.bule-text{ color:#0056a0;}
.finalist-list-content{ margin-top:10px; position:relative}
.finalist-box{ background:#fff;margin:4px 3px 3px 3px;   padding:3px 4px;}
.finalist-box h5{font-weight: normal; color:#0056a0;	 font-family: 'klinic_slabbold_italic'; font-size:13px; margin:2px 0; text-align:center}
.finalist-img img{ max-width:179px;}
.label-top-10{ background:url(../images/top10-label.png) top left no-repeat; width:347px; height:68px; position:absolute; top:50%; left:50%; margin-top:-34px; margin-left:-174px;}
.votenow-btn-content{ margin:20px 0 0 0; text-align:center}
.votenow-btn{background: #7baed5; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYWVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzZmYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7baed5 0%, #236faf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7baed5), color-stop(100%,#236faf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7baed5 0%,#236faf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7baed5 0%,#236faf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7baed5', endColorstr='#236faf',GradientType=0 ); /* IE6-8 */
border:1px solid #2a74b2; border-radius:25px; padding:2px 5px ; cursor:pointer;font-family: 'KlinicSlab-Bold'; font-size:38px; text-shadow:1px 1px 1px #000 ; color:#fff !important; min-width:233px; text-align:center; margin-right:10px; width:auto;min-height: 57px;margin-left: 255px;}

/*color box css*/
#cboxOverlay{ background:rgba(0, 0, 0,0.7) !important}


/*footer css*/
footer{ color:#808080; font-size:14px; margin:30px 0;}
footer a{color:#808080 !important; }
